{{ define "main" }}

<h1>About</h1>

<p>
Welcome. I'm known on the internets as <b>srfrog</b>.<br><br>
I'm an engineer, a leader, an architect, huge data geek, a security enthusiast, pragmatic technologist, full-time paranoid, a ghost. <a href="about/">(more)</a>
</p>
<br/>

{{ with .Site.GetPage "/posts" }}
<h1>Latest posts</h1>

<div class="posts-list">
    {{ range first 3 (sort .Data.Pages "Date" "desc" (where .Pages ".Params.private" "!=" true))}}
        <div class="post">
            <p>
                <div class="date">{{ .PublishDate.Format "Jan. 2, 2006" }}</div>
                <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
                {{ .Summary }}
            </p>
        </div>    
    {{ end }}
</div>
{{ end }}

{{ with .Site.GetPage "/photos" }}
<h1>Latest photos</h1>

<div class="image-grid">
    {{ range first 3 (sort .Data.Pages "Date" "desc")}}
        <a href="{{ .Permalink }}" title="{{ .Title }}">
        {{ $image := .Page.Resources.GetMatch .Params.image }}
        {{ with $image }}
            {{ $thumb := .Resize "400x" }}
            <img src="{{ $thumb.RelPermalink }}" alt="{{ .Title }}" class="img-responsive">
        {{end}}
        </a>
    {{ end }}
</div>
{{ end }}

{{ end }}
